.shadow-static {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.306) !important;
}

.addHover:hover {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.306) !important;
}

.remove-submit-button {
    background-color: initial; /* Reset the background color */
    border: none; /* Remove the border */
    color: initial; /* Reset the text color */
    text-decoration: none; /* Reset text decoration */
    /* Add more styles as needed */
}

.remove-anchor-decoration {
    text-decoration: none;
}

.navbar-hover:hover {
    color: #00aea5 !important;
}

body {
    background-size: cover;
    height: 100vh;
}

.bg-custom {
    background-color: #00aea5 !important;
}
.bg-custom2 {
    background-color: #004b48 !important;
}

/* Overlay */
.review-form-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

/* Form */
.review-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 80%;
    max-width: 500px;
    position: relative;
}

/* Close button */
.close-review-form {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}